

.brand-image img{
    width:11rem;
    height:11rem;
    position:absolute;
    top:1rem;
    left:2.5rem;
    cursor: pointer;
}
.brand-name{
    font-family: "yantra";
    color:#fff;
    font-size: 3rem;
    font-weight: 900;
}
.h-nav{
    background-color:#0b447f
}
.h-nav-bar{
    display: flex;
  align-items: center;
  justify-content: center;
}

.h-nav-bar ul{
list-style: none;
padding:0;
margin-bottom: 0;
}
.h-nav-bar ul li{
display:inline-block;
padding:5px 15px;
color:#fff;
}

.h-nav-bar ul li a{
    color:#fff;
    text-decoration: none;
    font-family: "yantra";
}

.h-nav-bar ul li:hover a{
    color:#0b447f;
    
}

.h-nav-bar ul li:hover{
background-color: #fff;
border-radius: 10px;
text-align: center;
}


.h-carousel{
    position:relative;
    top:72px;
    
    height:70vh;
    overflow:hidden;
    margin-right:0;
    margin-left:0;
}

.h-carousel .slider{
    position:absolute;
    top:0;
    left:0;
    width:500%;
    height:100%;
    float:left;
    animation: animate 7s linear infinite;
}
.h-carousel .slider .slide{
    position:relative;
    width:20%;
     height:100%;
    float:left;
}

.h-carousel .slider .slide .caption{
position: absolute;
bottom: 0px;
left:60px;
right:60px;
padding:30px;
background:rgba(0,0,0,.5);
box-sizing:border-box;
}

.h-carousel .slider .slide .caption h2{
    margin:0 0 20px;
    padding:0;
    color:#fff;
    font-size:48px;
}
.h-carousel .slider .slide .caption p{
    margin:0;
    padding:0;
    color:#fff;
    font-size:18px;
}

.h-carousel .slider .slide.slide1{
    background: url('../assets/workers.jpg');
    background-size: cover;
    background-position: center;
}

.h-carousel .slider .slide.slide2{
    background: url('../assets/industries.jpg');
    background-size: cover;
    background-position: center;
}
.h-carousel .slider .slide.slide3{
    background: url('../assets/workers.jpg');
    background-size: cover;
    background-position: center;
}


@keyframes animate{
    0%{
        left:0%;
    }
   50%{
        left:0%;
    }
    55%{
        left:-100%;
    }
    95%{
        left:-100%;
    }
    100%{
        left:-200%;
    }
    
}

.h-sections{
    position: relative;
    top:90px;
}

span.see-toggle{
cursor: pointer;
color:blue;
}
/* header nav{
    height: 80px;
    background-color:#0b447f !important;
    padding:0 !important;
}


.navbar-brand{
    width:125px;
    height:125px;
    position:relative;
    top:50px;
    left:25px;
}

.navbar-brand img{
    width:100%;
    height:100%;
}
.navbar-collapse{
justify-content: flex-end;
}

.brand-name{
        color: white;
        font-family:"yantra";
    font-size: 2rem;
    font-weight: 800;
    margin-left: 3rem;
    margin-top: 1rem;
}
nav .nav-item{
    font-family:"yantra";
    border:#0b447f solid 2px;
    border-radius:20px;
    color:white !important;
    margin-right:20px;
    padding:0px 10px;
    font-weight:700;
}

nav li.nav-item>a{
    color:white !important;
}

nav li.nav-item:hover{
    background-color:white;
    
}

nav li.nav-item:hover>a{
color:#0b447f !important;
}


.carousel-item{
    width:50%;
}
.carousel-item img{
    width:100%;
    height:100%;
    opacity:0.3;
}

.carousel-indicators .active{
    background-color: red;
}
#carouselExampleSlidesOnly{
    width:100%;
    height:600px;
} */