@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
    font-family: "yantra";
    src: url("./assets/Yantramanav-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'yantra';
}